.container--calculadora--btn{
    background: #f5f5f5;
    border: 1px solid #ccc;
    width: 100px;
    height: 70px;
    margin: 2px;
}
.container--calculadora-input{
    height: 60px;
    width: 100%;
}
.operadores{
    background: #ccc;
}
.modal-header{
    background: #1ac;
    color: #fff;
}