html{
    font-size: 16px;
}
.container{
    padding: 5vh;
}
.container--title{
    text-align: center;
}
.container--title i{
    cursor: pointer;
    color: #1ac;
}
.container--label{
    font-weight: 500;
}
.container--formulario{
    padding-top: 5vh;
}
.container--formulario th{
    text-align: center;
}
.container--formulario--tr:nth-child(even){
    background: #f2f2f2;
}
.alert-success{
    display: none;
}