*{
    margin: 0px;
    padding: 0px;
}
/* TAGS */
h6{
    font-size: 2vh;  
    text-align: center; 
}

/* CLASSES */
.tlt-jumbotron{    
    background: rgb(255, 90, 0); 
    color: #fff;
    border-radius: 0%;
    margin-top: 2px;
   
}
.logo img{
    width: 100px;
    height: 40px;
    margin: 5px;
}
.row-header{
     margin: 0px;
     padding: 0px;
}
.bl-tarefas{
    background: #ccc;
    width: 100% auto;
    height: 50vh;
    margin: 5px;
   
}
.flex-container {
    display: flex;
    justify-content: center;
}
.card-header{
    background: rgb(255, 90, 0);
    color:#fff;
}
.card-body{
    padding: 50px;
}
/* IDS */

#btn-nova-tarefa:hover{
    border-left: 3px solid green ;
    border-bottom: 3px solid green ;
    
}